@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
	--font-family-body: "Lato", sans-serif;

	--color-white-transparent: rgba(255, 255, 255, 0.8);
}

html,
body {
	font-family: var(--font-family-body);
	background-color: var(--color-neutral-900);
	color: var(--color-white);
}

a,
button {
	cursor: pointer;
	transition: all 200ms ease;

	&:disabled {
		cursor: not-allowed;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.backdrop-bg {
		background: rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(30px);
		-webkit-backdrop-filter: blur(30px);
		border: 1px solid var(--color-white-transparent);
	}

	textarea {
		line-height: 32px;
	}

	.message {
		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		pre {
			max-width: 384px !important;
			overflow-x: scroll !important;
		}
	}

	body {
		--sb-track-color: #222425;
		--sb-thumb-color: #000000;
		--sb-size: 8px;
	}

	body::-webkit-scrollbar {
		width: var(--sb-size);
	}

	body::-webkit-scrollbar-track {
		background: var(--sb-track-color);
		border-radius: 40px;
	}

	body::-webkit-scrollbar-thumb {
		background: var(--sb-thumb-color);
		border-radius: 40px;
	}

	@supports not selector(::-webkit-scrollbar) {
		body {
			scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
		}
	}
}
