@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
	--font-family-body: "Lato", sans-serif;

	--color-white-transparent: rgba(255, 255, 255, 0.8);
}

html,
body {
	font-family: var(--font-family-body);
	background-color: var(--color-neutral-900);
	color: var(--color-white);
}

a,
button {
	cursor: pointer;
	transition: all 200ms ease;

	&:disabled {
		cursor: not-allowed;
	}
}

@layer utilities {
	.backdrop-bg {
		background: rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(30px);
		-webkit-backdrop-filter: blur(30px);
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	textarea {
		line-height: 32px;
	}

	.message pre {
		max-width: 384px !important;
		overflow-x: scroll !important;
	}
}
